Repository peidongxie/lite-monitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

chore: 优化生产环境编排
  packages/backend/docker/compose.prod.yaml
Due: none

fix: 公共属性错误捕获以防止循环上报
  packages/lite-monitor-node/src/monitor.ts
Due: eslint --fix

feat: 配置数据库映射端口
  packages/backend/docker/compose.dev.yaml
  packages/backend/src/config/index.ts
Due: eslint --fix

chore: 补全镜像构建配置
  packages/backend/docker/Dockerfile.dockerignore
  packages/backend/package.json
Due: sort-package-json

chore: 升级版本
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: 构建镜像强制移除原镜像
  packages/backend/package.json
Due: sort-package-json

chore: 升级依赖
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
  pnpm-lock.yaml
Due: sort-package-json

docs: 修改基础示例
  packages/lite-monitor-base/README.md
Due: none

feat: 优化内存计算
  packages/lite-monitor-base/README.md
  packages/lite-monitor-base/README.zh-CN.md
  packages/lite-monitor-node/src/monitor.ts
Due: eslint --fix

chore: 升级流程控制
  .husky/.gitignore
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: 升级代码检查
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: 升级类型检查
  package.json
  packages/backend/tsconfig.json
  packages/frontend/tsconfig.json
  packages/lite-monitor-base/tsconfig.json
  packages/lite-monitor-node/tsconfig.json
  packages/lite-monitor-web/tsconfig.json
  packages/node-express-demo/tsconfig.json
  packages/node-koa-demo/tsconfig.json
  packages/web-react-demo/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: sort-package-json

chore: 优化代码检查脚本
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
Due: sort-package-json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  sort-package-json: any of: package.json
