Repository peidongxie/lite-monitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat: 增加示例注释说明
  packages/node-demo-express/src/index.ts
  packages/node-demo-koa/src/index.ts
  packages/web-demo-react/src/app.tsx
  packages/web-demo-react/src/component.tsx
  packages/web-demo-react/src/error.tsx
Due: eslint --fix

feat: 后端使用 fastify 替换 koa
  packages/backend/.eslintrc.json
  packages/backend/config.json
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/tsconfig.json
  packages/backend/webpack.config.js
  yarn.lock
Due: eslint --fix, sort-package-json

feat: 配置全局数据层、队列和日志
  packages/backend/src/app.ts
  packages/backend/src/config/index.ts
  packages/backend/src/index.ts
  packages/backend/src/logger/index.ts
  packages/backend/src/persitence/index.ts
  packages/backend/src/queue/index.ts
  packages/backend/src/server/index.ts
Due: eslint --fix

feat: 移除冗余配置
  packages/backend/config.json
  packages/backend/src/config/database.ts
  packages/backend/src/config/logger.ts
  packages/backend/src/config/queue.ts
  packages/backend/src/config/router.ts
  packages/backend/src/config/server.ts
Due: eslint --fix

fix: 修复队列意外释放锁
  packages/backend/src/queue/index.ts
Due: eslint --fix

feat: 支持 bigint 序列化
  packages/frontend/utils/fetcher.ts
  packages/lite-monitor-base/src/event.ts
  packages/lite-monitor-base/src/monitor.ts
  packages/lite-monitor-node/src/event.ts
  packages/lite-monitor-web/src/event.ts
  packages/lite-monitor-web/src/monitor.ts
Due: eslint --fix

feat: 调整后端类型与持久层 schema
  packages/backend/src/type/database.ts
  packages/backend/src/type/index.ts
  packages/backend/src/type/logger.ts
  packages/backend/src/type/queue.ts
  packages/backend/src/type/router.ts
  packages/backend/src/type/server.ts
  packages/backend/src/util/logger.ts
Due: eslint --fix

feat: 实现持久层 CRUD
  packages/backend/src/persitence/index.ts
Due: eslint --fix

feat: 优化依赖注入，新增持久层接口
  packages/backend/src/app.ts
  packages/backend/src/config/index.ts
  packages/backend/src/logger/index.ts
  packages/backend/src/persitence/index.ts
  packages/backend/src/queue/index.ts
  packages/backend/src/server/index.ts
Due: eslint --fix

fix: 修复持久层配置
  packages/backend/src/config/index.ts
  packages/backend/src/server/index.ts
Due: eslint --fix

feat: 实现持久层初始化
  packages/backend/config.json
  packages/backend/src/app.ts
  packages/backend/src/config/index.ts
  packages/backend/src/type/index.ts
Due: eslint --fix

feat: 实现事件队列计时器
  packages/backend/src/app.ts
  packages/backend/src/queue/index.ts
Due: eslint --fix

fea: 实现单例模式
  packages/backend/src/app.ts
  packages/backend/src/config/index.ts
  packages/backend/src/index.ts
  packages/backend/src/logger/index.ts
  packages/backend/src/persitence/index.ts
  packages/backend/src/queue/index.ts
  packages/backend/src/server/index.ts
Due: eslint --fix

feat: 将 logger 并入 server
  packages/backend/config.json
  packages/backend/src/app.ts
  packages/backend/src/config/index.ts
  packages/backend/src/logger/index.ts
  packages/backend/src/persitence/index.ts
  packages/backend/src/queue/index.ts
  packages/backend/src/server/index.ts
Due: eslint --fix

feat: 在 Server 上绑定路由方法
  packages/backend/config.json
  packages/backend/src/config/index.ts
  packages/backend/src/server/index.ts
  packages/backend/src/util/database.ts
  packages/backend/src/util/queue.ts
  packages/backend/src/util/server.ts
Due: eslint --fix

feat: 实现路由
  packages/backend/config.json
  packages/backend/src/app.ts
  packages/backend/src/config/index.ts
  packages/backend/src/router/index.ts
  packages/backend/src/router/record/get.ts
  packages/backend/src/router/record/put.ts
  packages/backend/src/util/router.ts
Due: eslint --fix

feat: 实现 record 增查
  packages/backend/src/controller/project.ts
  packages/backend/src/controller/record.ts
  packages/backend/src/router/index.ts
  packages/backend/src/router/record/get.ts
  packages/backend/src/router/record/put.ts
  packages/backend/src/service/project.ts
  packages/backend/src/service/record.ts
  packages/backend/src/type/index.ts
  packages/backend/src/type/project.ts
  packages/backend/src/type/router.ts
  packages/backend/src/type/schema.ts
Due: eslint --fix

feat: 使用 PUT 方法上报
  packages/lite-monitor-base/src/monitor.ts
  packages/web-demo-react/src/app.tsx
Due: eslint --fix

feat: 调整私有属性语法
  packages/lite-monitor-base/src/monitor.ts
Due: eslint --fix

feat: 优化基础监控接口和类型声明
  packages/lite-monitor-base/src/event.ts
  packages/lite-monitor-base/src/monitor.ts
  packages/lite-monitor-node/src/event.ts
  packages/lite-monitor-node/src/monitor.ts
  packages/lite-monitor-web/src/event.ts
  packages/lite-monitor-web/src/monitor.ts
Due: eslint --fix

chore: 升级依赖
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-demo-express/package.json
  packages/node-demo-koa/package.json
  packages/web-demo-react/package.json
  yarn.lock
Due: sort-package-json

chore: 升级依赖
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-demo-express/package.json
  packages/node-demo-koa/package.json
  packages/web-demo-react/package.json
  yarn.lock
Due: sort-package-json

fix: 删除冗余类型
  packages/lite-monitor-base/src/event.ts
  packages/lite-monitor-base/src/monitor.ts
  packages/lite-monitor-node/src/event.ts
  packages/lite-monitor-node/src/express.ts
  packages/lite-monitor-node/src/koa.ts
  packages/lite-monitor-node/src/monitor.ts
  packages/lite-monitor-web/src/monitor.ts
  packages/lite-monitor-web/src/react.ts
Due: eslint --fix

feat: 调整 react 监控相关接口
  packages/lite-monitor-web/src/react.ts
Due: eslint --fix

feat: 取代计算属性
  packages/lite-monitor-node/src/monitor.ts
  packages/lite-monitor-web/src/monitor.ts
Due: eslint --fix

fix: 调整 demo 监控使用
  packages/lite-monitor-base/src/event.ts
  packages/lite-monitor-base/src/monitor.ts
  packages/lite-monitor-node/src/express.ts
  packages/lite-monitor-node/src/koa.ts
  packages/lite-monitor-node/src/monitor.ts
  packages/lite-monitor-web/src/monitor.ts
  packages/lite-monitor-web/src/parser.ts
  packages/lite-monitor-web/src/react.ts
  packages/node-demo-express/src/index.ts
  packages/node-demo-koa/src/index.ts
  packages/web-demo-react/src/app.tsx
Due: eslint --fix

fix: 修复 koa 的 DefaultState 类型声明异常
  packages/lite-monitor-node/index.d.ts
  packages/lite-monitor-node/src/koa.ts
  packages/node-demo-express/src/index.ts
  packages/node-demo-koa/src/index.ts
  packages/web-demo-react/src/app.tsx
  packages/web-demo-react/src/index.css
Due: eslint --fix

feat: 增加 demo 构建脚本
  package.json
Due: sort-package-json

feat: 改变事件收集路由
  packages/backend/src/queue/index.ts
  packages/backend/src/router/events/get.ts
  packages/backend/src/router/events/put.ts
  packages/backend/src/type/schema.ts
Due: eslint --fix

feat: 优化监控构造接口
  packages/lite-monitor-base/src/monitor.ts
  packages/lite-monitor-node/src/monitor.ts
  packages/lite-monitor-web/src/monitor.ts
Due: eslint --fix

chore: 升级版本
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-demo-express/package.json
  packages/node-demo-koa/package.json
  packages/web-demo-react/package.json
Due: sort-package-json

fix: 修复后端事件路由配置
  packages/backend/config.json
Due: none

fix: 去除冗余打印
  packages/lite-monitor-web/src/monitor.ts
Due: eslint --fix

docs: 更新全局文档和描述
  README.md
  README.zh-CN.md
  package.json
  packages/lite-monitor-base/README.md
  packages/lite-monitor-base/README.zh-CN.md
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/README.md
  packages/lite-monitor-node/README.zh-CN.md
  packages/lite-monitor-web/README.md
  packages/lite-monitor-web/README.zh-CN.md
  packages/lite-monitor-web/package.json
Due: sort-package-json

docs: 调整文档部分内容顺序
  README.md
  README.zh-CN.md
Due: none

docs: 增加后端文档
  packages/backend/README.md
  packages/backend/README.zh-CN.md
Due: none

feat: 优化监控构造
  packages/lite-monitor-node/src/express.ts
  packages/lite-monitor-node/src/koa.ts
  packages/lite-monitor-web/src/react.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  sort-package-json: any of: package.json
