Repository peidongxie/lite-monitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue}": "eslint --fix",
  "package.json": "sort-package-json"
}

fix: 修复 url 解析
  packages/lite-monitor-node/src/monitor.ts
  packages/lite-monitor-web/src/monitor.ts
Due: eslint --fix

chore: 升级依赖
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: 升级版本
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
  pnpm-lock.yaml
Due: sort-package-json

feat: 优化 fetcher
  packages/frontend/utils/fetcher.ts
Due: eslint --fix

feat: 实现表单 fetcher
  packages/frontend/utils/fetcher.ts
Due: eslint --fix

feat: 调整登录接口实现
  packages/frontend/pages/api/user/auth.ts
Due: eslint --fix

feat: 为时间同步增强监控配置
  packages/lite-monitor-base/README.md
  packages/lite-monitor-base/README.zh-CN.md
  packages/lite-monitor-base/src/monitor.ts
  packages/lite-monitor-node/src/monitor.ts
  packages/lite-monitor-web/src/monitor.ts
Due: eslint --fix

feat: 实现时间接口
  packages/backend/config.json
  packages/backend/src/router/time/get.ts
Due: eslint --fix

feat: 允许 fetcher 不设置 content-type
  packages/lite-monitor-base/src/monitor.ts
  packages/lite-monitor-node/src/monitor.ts
  packages/lite-monitor-web/src/monitor.ts
Due: eslint --fix

feat: 在 fetcher 中返回 status message
  packages/lite-monitor-base/src/monitor.ts
  packages/lite-monitor-node/src/monitor.ts
  packages/lite-monitor-web/src/monitor.ts
Due: eslint --fix

fix: 通过 status message 暴露时间戳
  packages/backend/src/router/time/get.ts
Due: eslint --fix

fix: 修复 demo 监控配置
  packages/node-express-demo/src/index.ts
  packages/node-koa-demo/src/index.ts
  packages/web-react-demo/src/app.tsx
Due: eslint --fix

fix: 调整文档示例
  packages/lite-monitor-base/README.md
  packages/lite-monitor-base/README.zh-CN.md
Due: none

feat: 实现 uuid 生成接口
  packages/backend/config.json
  packages/backend/src/router/uuid/get.ts
Due: eslint --fix

feat: 为监控实例增加 uuid
  packages/lite-monitor-base/src/event.ts
  packages/lite-monitor-base/src/monitor.ts
  packages/node-express-demo/src/index.ts
  packages/node-koa-demo/src/index.ts
  packages/web-react-demo/src/app.tsx
Due: eslint --fix

feat: 实现监控注册
  packages/lite-monitor-base/src/monitor.ts
Due: eslint --fix

feat: 优化配置类型声明和 setter
  packages/lite-monitor-base/src/monitor.ts
Due: eslint --fix

feat: 将 uuid 移入配置项
  packages/lite-monitor-base/src/event.ts
  packages/lite-monitor-base/src/monitor.ts
Due: eslint --fix

feat: 监控派生类适配配置改动
  packages/lite-monitor-base/src/monitor.ts
  packages/lite-monitor-node/src/monitor.ts
  packages/lite-monitor-web/src/monitor.ts
Due: eslint --fix

fix: 修正监控实例构造接口
  packages/lite-monitor-node/src/express.ts
  packages/lite-monitor-node/src/koa.ts
  packages/lite-monitor-web/src/react.ts
Due: eslint --fix

fix: 修复 demo 示例配置
  packages/lite-monitor-base/src/monitor.ts
  packages/node-express-demo/src/index.ts
  packages/node-koa-demo/src/index.ts
  packages/web-react-demo/src/app.tsx
Due: eslint --fix

chore: 升级至 react 18
  packages/frontend/package.json
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
  pnpm-lock.yaml
Due: sort-package-json

feat: 实现服务关闭
  packages/backend/src/app.ts
  packages/backend/src/server/index.ts
Due: eslint --fix

feat: 优雅地关闭服务
  packages/backend/src/index.ts
Due: eslint --fix

chore: 前端监控支持 react 18
  packages/frontend/package.json
  packages/lite-monitor-web/package.json
  packages/web-react-demo/package.json
  pnpm-lock.yaml
Due: sort-package-json

feat: 使用 react 18 createRoot
  packages/web-react-demo/src/index.tsx
Due: eslint --fix

feat: 声明 children 类型
  packages/frontend/utils/alert.ts
  packages/frontend/utils/theme.ts
  packages/lite-monitor-web/src/react.ts
Due: eslint --fix

docs: 优化文档示例
  packages/lite-monitor-base/README.md
  packages/lite-monitor-base/README.zh-CN.md
Due: none

chore: 优化 rollup 配置文件
  packages/lite-monitor-base/rollup.config.js
  packages/lite-monitor-node/rollup.config.js
  packages/lite-monitor-web/rollup.config.js
Due: eslint --fix

fix: 修复注册 uuid 次序
  packages/lite-monitor-base/src/monitor.ts
Due: eslint --fix

feat: 监控注册期间推迟操作
  packages/lite-monitor-base/src/monitor.ts
Due: eslint --fix

feat: 使用 now 取代 getTime 获取当前时间
  packages/frontend/pages/api/analysis/access/record.ts
  packages/frontend/pages/api/analysis/component/operation.ts
  packages/frontend/pages/api/analysis/error/detail.ts
  packages/frontend/pages/api/analysis/error/trend.ts
  packages/frontend/pages/api/analysis/message/location.ts
  packages/frontend/pages/api/analysis/resource/cluster.ts
  packages/frontend/pages/api/analysis/resource/docker.ts
Due: eslint --fix

feat: 使用 babel 取代 tsc 编译
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/babel.config.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-base/rollup.config.js
  packages/lite-monitor-node/babel.config.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-node/rollup.config.js
  packages/lite-monitor-web/babel.config.json
  packages/lite-monitor-web/package.json
  packages/lite-monitor-web/rollup.config.js
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
  pnpm-lock.yaml
  rollup.config.js
Due: eslint --fix, sort-package-json

feat: 注册监控接口设为 POST 方法
  packages/backend/config.json
  packages/backend/src/router/uuid/post.ts
  packages/lite-monitor-base/src/monitor.ts
Due: eslint --fix
