Repository peidongxie/lite-monitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue}": "eslint --fix",
  "package.json": "sort-package-json"
}

fix: 修复退出事件上报异常
  packages/lite-monitor-web/src/monitor.ts
Due: eslint --fix

chore: 升级版本
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-demo-express/package.json
  packages/node-demo-koa/package.json
  packages/web-demo-react/package.json
Due: sort-package-json

chore: 调整 demo 目录
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/.eslintrc.json
  packages/node-express-demo/.gitignore
  packages/node-express-demo/package.json
  packages/node-express-demo/src/index.ts
  packages/node-express-demo/tsconfig.json
  packages/node-koa-demo/.eslintrc.json
  packages/node-koa-demo/.gitignore
  packages/node-koa-demo/package.json
  packages/node-koa-demo/src/index.ts
  packages/node-koa-demo/tsconfig.json
  packages/web-react-demo/.eslintrc.json
  packages/web-react-demo/.gitignore
  packages/web-react-demo/package.json
  packages/web-react-demo/public/favicon.ico
  packages/web-react-demo/public/index.html
  packages/web-react-demo/public/logo192.png
  packages/web-react-demo/public/logo512.png
  packages/web-react-demo/public/manifest.json
  packages/web-react-demo/public/robots.txt
  packages/web-react-demo/scripts/build.ts
  packages/web-react-demo/scripts/react-shim.ts
  packages/web-react-demo/src/app.css
  packages/web-react-demo/src/app.tsx
  packages/web-react-demo/src/component.tsx
  packages/web-react-demo/src/error.tsx
  packages/web-react-demo/src/global.ts
  packages/web-react-demo/src/home.tsx
  packages/web-react-demo/src/index.css
  packages/web-react-demo/src/index.tsx
  packages/web-react-demo/src/logo.svg
  packages/web-react-demo/src/react-app-env.d.ts
  packages/web-react-demo/tsconfig.json
  yarn.lock
Due: eslint --fix, sort-package-json

chore: 升级版本
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
Due: sort-package-json

feat: 优化 react 监控接口
  packages/lite-monitor-web/src/react.ts
Due: eslint --fix

chore: 脚本适配多个包管理器
  package.json
Due: sort-package-json

docs: 文档补充修正
  README.md
  README.zh-CN.md
Due: none

chore: 升级依赖
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
  yarn.lock
Due: sort-package-json

docs: 文档补充修正
  README.md
  README.zh-CN.md
  packages/backend/README.md
  packages/backend/README.zh-CN.md
Due: none

chore: 升级版本
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
  yarn.lock
Due: sort-package-json

feat: 服务对外开放
  packages/backend/src/server/index.ts
Due: eslint --fix

fix: 修复示例名称
  README.md
  README.zh-CN.md
  packages/lite-monitor-node/README.md
  packages/lite-monitor-node/README.zh-CN.md
  packages/lite-monitor-web/README.md
  packages/lite-monitor-web/README.zh-CN.md
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
Due: sort-package-json

docs: 补充示例文档
  packages/node-express-demo/README.md
  packages/node-express-demo/README.zh-CN.md
  packages/node-koa-demo/README.md
  packages/node-koa-demo/README.zh-CN.md
  packages/web-react-demo/README.md
  packages/web-react-demo/README.zh-CN.md
Due: none

docs: 新增前端文档
  packages/frontend/README.zh-CN.md
Due: none

docs: 修复文档图片链接
  README.md
  README.zh-CN.md
  packages/backend/README.md
  packages/backend/README.zh-CN.md
  packages/frontend/README.md
  packages/frontend/README.zh-CN.md
  packages/node-express-demo/README.md
  packages/node-express-demo/README.zh-CN.md
  packages/node-koa-demo/README.md
  packages/node-koa-demo/README.zh-CN.md
  packages/web-react-demo/README.md
  packages/web-react-demo/README.zh-CN.md
Due: none

feat: 模块化优化
  packages/backend/src/app.ts
  packages/backend/src/config/index.ts
  packages/backend/src/persitence/index.ts
  packages/backend/src/queue/index.ts
  packages/backend/src/router/events/get.ts
  packages/backend/src/router/events/put.ts
  packages/backend/src/router/index.ts
  packages/backend/src/server/index.ts
  packages/backend/src/type/project.ts
  packages/backend/src/type/router.ts
  packages/backend/src/type/schema.ts
  packages/lite-monitor-base/src/event.ts
  packages/lite-monitor-base/src/monitor.ts
  packages/lite-monitor-node/src/event.ts
  packages/lite-monitor-node/src/express.ts
  packages/lite-monitor-node/src/koa.ts
  packages/lite-monitor-node/src/monitor.ts
  packages/lite-monitor-web/src/event.ts
  packages/lite-monitor-web/src/monitor.ts
  packages/lite-monitor-web/src/parser.ts
  packages/lite-monitor-web/src/react.ts
  packages/web-react-demo/scripts/build.ts
  packages/web-react-demo/src/app.tsx
  packages/web-react-demo/src/component.tsx
  packages/web-react-demo/src/error.tsx
  packages/web-react-demo/src/global.ts
  packages/web-react-demo/src/home.tsx
Due: eslint --fix

fix: 修复查询返回值类型
  packages/backend/src/persitence/index.ts
  packages/backend/src/type/schema.ts
Due: eslint --fix

chore: 升级依赖
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
  yarn.lock
Due: sort-package-json

chore: 完善库的 peerDependencies
  packages/lite-monitor-web/package.json
Due: sort-package-json

chore: 包管理切换到 pnpm
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: sort-package-json

fix: 修复 workspace peerDependencies 依赖解析
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: sort-package-json

docs: 调整文档安装和使用说明
  README.md
  README.zh-CN.md
  packages/backend/README.md
  packages/backend/README.zh-CN.md
  packages/frontend/README.md
  packages/frontend/README.zh-CN.md
  packages/lite-monitor-base/README.md
  packages/lite-monitor-base/README.zh-CN.md
  packages/lite-monitor-node/README.md
  packages/lite-monitor-node/README.zh-CN.md
  packages/lite-monitor-web/README.md
  packages/lite-monitor-web/README.zh-CN.md
  packages/node-express-demo/README.md
  packages/node-express-demo/README.zh-CN.md
  packages/node-koa-demo/README.md
  packages/node-koa-demo/README.zh-CN.md
  packages/web-react-demo/README.md
  packages/web-react-demo/README.zh-CN.md
Due: none

chore: 升级依赖
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
Due: sort-package-json

chore: 升级依赖
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
  pnpm-lock.yaml
Due: sort-package-json

feat: 模块化导出优化
  packages/frontend/utils/locale.ts
Due: eslint --fix

feat: 根据 RFC 调整 http 方法
  packages/backend/config.json
  packages/backend/src/router/events/post.ts
  packages/backend/src/router/index.ts
  packages/lite-monitor-base/src/event.ts
  packages/lite-monitor-base/src/monitor.ts
  packages/lite-monitor-node/src/monitor.ts
Due: eslint --fix

chore: 实现 Dual CommonJS/ES module packages
  package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
Due: sort-package-json

feat: 优化持久层接口类型
  packages/backend/package.json
  packages/backend/src/persitence/index.ts
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

feat: 使用 typescript 私有字段方案
  packages/backend/src/app.ts
  packages/backend/src/config/index.ts
  packages/backend/src/index.ts
  packages/backend/src/persitence/index.ts
  packages/backend/src/queue/index.ts
  packages/backend/src/router/index.ts
  packages/backend/src/server/index.ts
Due: eslint --fix

feat: 增加 server 监听器
  packages/backend/src/app.ts
  packages/backend/src/persitence/index.ts
  packages/backend/src/queue/index.ts
  packages/backend/src/router/index.ts
  packages/backend/src/server/index.ts
Due: eslint --fix

feat: 分离 logger 配置
  packages/backend/config.json
  packages/backend/src/config/index.ts
  packages/backend/src/server/index.ts
Due: eslint --fix

feat: 增加 server 地址配置
  packages/backend/src/config/index.ts
  packages/backend/src/server/index.ts
Due: eslint --fix

feat: 实现 logger 全局对象
  packages/backend/src/app.ts
  packages/backend/src/logger/index.ts
  packages/backend/src/persitence/index.ts
  packages/backend/src/queue/index.ts
  packages/backend/src/router/index.ts
  packages/backend/src/server/index.ts
Due: eslint --fix

chore: git hook 中使用 pnpm 调用 lint-staged
  .husky/pre-commit
Due: none
