Repository peidongxie/lite-monitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

chore: 升级依赖
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
  pnpm-lock.yaml
Due: sort-package-json

feat: 兼容 ipv6 监控上报
  packages/backend/src/config/index.ts
  packages/lite-monitor-base/src/monitor.ts
  packages/node-express-demo/src/index.ts
  packages/node-koa-demo/src/index.ts
  packages/web-react-demo/src/error.tsx
Due: eslint --fix

chore: 升级版本
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: 替换过期 fastify 中间件
  packages/backend/package.json
  packages/backend/src/persitence/index.ts
  packages/backend/src/server/index.ts
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

feat: 监控数据持久层加入时间索引
  packages/backend/src/app.ts
  packages/backend/src/persitence/index.ts
Due: eslint --fix

chore: 配置 docker compose
  packages/backend/.eslintrc.json
  packages/backend/docker/compose.yaml
  packages/backend/docker/mongo-init.js
  packages/backend/src/config/index.ts
  packages/backend/src/persitence/index.ts
Due: eslint --fix

feat: 补充 globalThis
  packages/frontend/utils/alert.ts
  packages/frontend/utils/fetcher.ts
  packages/lite-monitor-base/README.md
  packages/lite-monitor-base/README.zh-CN.md
  packages/lite-monitor-base/src/monitor.ts
  packages/lite-monitor-node/src/express.ts
  packages/lite-monitor-node/src/koa.ts
  packages/lite-monitor-web/src/monitor.ts
  packages/web-react-demo/scripts/build.ts
Due: eslint --fix

chore: 优化全局配置
  .prettierrc.json
  packages/backend/.eslintrc.json
  packages/backend/tsconfig.json
  packages/frontend/.test/root.ts
  packages/frontend/tsconfig.json
  packages/lite-monitor-base/.eslintrc.json
  packages/lite-monitor-base/tsconfig.json
  packages/lite-monitor-node/.eslintrc.json
  packages/lite-monitor-node/tsconfig.json
  packages/lite-monitor-web/.eslintrc.json
  packages/lite-monitor-web/tsconfig.json
  packages/node-express-demo/.eslintrc.json
  packages/node-express-demo/tsconfig.json
  packages/node-koa-demo/.eslintrc.json
  packages/node-koa-demo/tsconfig.json
  packages/web-react-demo/.eslintrc.json
  packages/web-react-demo/tsconfig.json
  tsconfig.json
Due: eslint --fix

chore: 配置路径格式化
  .eslintrc.json
  packages/backend/.eslintrc.json
  packages/lite-monitor-base/.eslintrc.json
  packages/lite-monitor-node/.eslintrc.json
  packages/lite-monitor-web/.eslintrc.json
  packages/node-express-demo/.eslintrc.json
  packages/node-koa-demo/.eslintrc.json
  packages/web-react-demo/.eslintrc.json
  packages/web-react-demo/scripts/build.ts
  rollup.config.js
Due: eslint --fix

chore: 升级依赖
  pnpm-lock.yaml
Due: none

feat: 组件 css 方案从 jss 改为 emotion
  packages/frontend/components/alert-bar/index.tsx
  packages/frontend/components/brief-card/index.tsx
  packages/frontend/components/chart-box/index.tsx
  packages/frontend/components/collapsible-table/collapsible-table-row.tsx
  packages/frontend/components/collapsible-table/index.tsx
  packages/frontend/components/combo-box/index.tsx
  packages/frontend/components/footer/index.tsx
  packages/frontend/components/header/index.tsx
  packages/frontend/components/label/index.tsx
  packages/frontend/components/lang/index.tsx
  packages/frontend/components/login/index.tsx
  packages/frontend/components/logo/index.tsx
  packages/frontend/components/side-drawer/index.tsx
Due: eslint --fix

feat: 全局 css 方案从 jss 改为 emotion
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/_document.tsx
  packages/frontend/pages/api/analysis/access/record.ts
  packages/frontend/pages/api/analysis/access/status.ts
  packages/frontend/pages/api/analysis/component/operation.ts
  packages/frontend/pages/api/analysis/component/time.ts
  packages/frontend/pages/api/analysis/error/detail.ts
  packages/frontend/pages/api/analysis/error/trend.ts
  packages/frontend/pages/api/analysis/message/code.ts
  packages/frontend/pages/api/analysis/message/location.ts
  packages/frontend/pages/api/analysis/resource/cluster.ts
  packages/frontend/pages/api/analysis/resource/docker.ts
  packages/frontend/pages/api/project/info.ts
  packages/frontend/pages/api/project/menu.ts
  packages/frontend/pages/api/project/summary.ts
  packages/frontend/pages/api/user/auth.ts
  packages/frontend/pages/index.tsx
  packages/frontend/pages/project/access.tsx
  packages/frontend/pages/project/component.tsx
  packages/frontend/pages/project/error.tsx
  packages/frontend/pages/project/index.tsx
  packages/frontend/pages/project/message.tsx
  packages/frontend/pages/project/resource.tsx
  packages/frontend/utils/emotion.ts
Due: eslint --fix

chore: 全面移除 @mui/styles
  package.json
  packages/frontend/mui-env.d.ts
  packages/frontend/package.json
  packages/frontend/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

chore: 利用 parcel 构建 demo
  .gitignore
  package.json
  packages/node-express-demo/.eslintrc.json
  packages/node-express-demo/.gitignore
  packages/node-express-demo/package.json
  packages/node-koa-demo/.eslintrc.json
  packages/node-koa-demo/.gitignore
  packages/node-koa-demo/package.json
  packages/web-react-demo/.eslintrc.json
  packages/web-react-demo/.gitignore
  packages/web-react-demo/package.json
  packages/web-react-demo/public/index.html
  packages/web-react-demo/public/logo.svg
  packages/web-react-demo/public/robots.txt
  packages/web-react-demo/scripts/build.ts
  packages/web-react-demo/scripts/react-shim.ts
  packages/web-react-demo/src/home.tsx
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

fix: 修正 dockerfile 版本
  packages/backend/docker/compose.yaml
Due: none

chore: 发布 readme
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
Due: sort-package-json

chore: 简化 gitignore
  packages/backend/.gitignore
  packages/frontend/.gitignore
  packages/lite-monitor-base/.gitignore
  packages/lite-monitor-node/.gitignore
  packages/lite-monitor-web/.gitignore
  packages/node-express-demo/.gitignore
  packages/node-koa-demo/.gitignore
  packages/web-react-demo/.gitignore
Due: none

chore: 调整 pnpm script
  package.json
Due: sort-package-json

fix: 修正类型错误
  packages/frontend/components/combo-box/index.tsx
  packages/frontend/utils/emotion.ts
Due: eslint --fix

feat: 为 node 监控增加全局捕获方法
  packages/lite-monitor-node/src/monitor.ts
Due: eslint --fix

chore: 调整 parcel 构建
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
Due: sort-package-json

feat: 优化 node server 异常捕获
  packages/lite-monitor-node/src/express.ts
  packages/lite-monitor-node/src/koa.ts
Due: eslint --fix

chore: 迁移到 npmmirror
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
  pnpm-lock.yaml
Due: sort-package-json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  sort-package-json: any of: package.json
