Repository peidongxie/lite-monitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

chore: 升级依赖
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: 更新 manifest
  packages/web-react-demo/public/index.html
  packages/web-react-demo/public/manifest.webmanifest
Due: none

docs: 修正文档
  README.md
  package.json
  packages/backend/README.md
  packages/frontend/README.md
  packages/lite-monitor-base/README.md
  packages/lite-monitor-node/README.md
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/README.md
  packages/lite-monitor-web/package.json
  packages/node-express-demo/README.md
  packages/node-koa-demo/README.md
  packages/web-react-demo/README.md
Due: sort-package-json

chore: 调整依赖关系
  package.json
  packages/lite-monitor-web/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: 升级版本
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
Due: sort-package-json

docs: 修正文档标点
  README.zh-CN.md
  packages/backend/README.zh-CN.md
  packages/frontend/README.zh-CN.md
  packages/lite-monitor-base/README.zh-CN.md
  packages/lite-monitor-node/README.zh-CN.md
  packages/lite-monitor-web/README.zh-CN.md
  packages/node-express-demo/README.zh-CN.md
  packages/node-koa-demo/README.zh-CN.md
  packages/web-react-demo/README.zh-CN.md
Due: none

chore: 升级依赖
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: 指定发布文件
  package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
Due: sort-package-json

chore: 向下兼容到 es2015
  packages/lite-monitor-base/tsconfig.json
  packages/lite-monitor-node/tsconfig.json
  packages/lite-monitor-web/tsconfig.json
  tsconfig.json
Due: none

chore: 外置依赖
  packages/lite-monitor-node/rollup.config.js
  packages/lite-monitor-web/rollup.config.js
Due: eslint --fix

feat: 移除部分新特性以减少垫片
  packages/lite-monitor-base/src/monitor.ts
  packages/lite-monitor-node/src/koa.ts
Due: eslint --fix

chore: 升级版本
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: 修正 manifest 路径
  packages/web-react-demo/public/index.html
Due: none

chore: 向下兼容到 react 16
  packages/lite-monitor-web/package.json
Due: sort-package-json

chore: 设定产物模块化方案
  packages/lite-monitor-base/package.json
  packages/lite-monitor-base/rollup.config.js
  packages/lite-monitor-node/package.json
  packages/lite-monitor-node/rollup.config.js
  packages/lite-monitor-web/package.json
  packages/lite-monitor-web/rollup.config.js
Due: eslint --fix, sort-package-json

feat: 通过 globalThis 获取全局对象
  packages/lite-monitor-web/src/monitor.ts
  packages/web-react-demo/src/component.tsx
  packages/web-react-demo/src/index.tsx
Due: eslint --fix

docs: 调整文档示例
  packages/lite-monitor-base/README.md
  packages/lite-monitor-base/README.zh-CN.md
Due: none

feat: 切换到 mui v5
  package.json
  packages/backend/package.json
  packages/frontend/components/alert-bar/index.tsx
  packages/frontend/components/brief-card/index.tsx
  packages/frontend/components/chart-box/index.tsx
  packages/frontend/components/collapsible-table/collapsible-table-row.tsx
  packages/frontend/components/collapsible-table/index.tsx
  packages/frontend/components/combo-box/index.tsx
  packages/frontend/components/footer/index.tsx
  packages/frontend/components/header/index.tsx
  packages/frontend/components/label/index.tsx
  packages/frontend/components/lang/index.tsx
  packages/frontend/components/login/index.tsx
  packages/frontend/components/logo/index.tsx
  packages/frontend/components/side-drawer/index.tsx
  packages/frontend/next-env.d.ts
  packages/frontend/package.json
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/_document.tsx
  packages/frontend/pages/index.tsx
  packages/frontend/pages/project/access.tsx
  packages/frontend/pages/project/component.tsx
  packages/frontend/pages/project/error.tsx
  packages/frontend/pages/project/index.tsx
  packages/frontend/pages/project/message.tsx
  packages/frontend/pages/project/resource.tsx
  packages/frontend/utils/alert.ts
  packages/frontend/utils/locale.ts
  packages/frontend/utils/theme.ts
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

feat: 移除 mui lab 库
  packages/frontend/components/alert-bar/index.tsx
  packages/frontend/components/combo-box/index.tsx
  packages/frontend/package.json
  packages/frontend/pages/_app.tsx
  packages/frontend/utils/alert.ts
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

fix: 默认主题类型声明
  packages/frontend/mui-env.d.ts
  packages/frontend/tsconfig.json
Due: eslint --fix

fix: 修复 Autocomplete 选项异常
  packages/frontend/components/combo-box/index.tsx
  packages/frontend/tsconfig.json
Due: eslint --fix

feat: 主题和本地化优化
  packages/frontend/mui-env.d.ts
  packages/frontend/utils/locale.ts
  packages/frontend/utils/theme.ts
Due: eslint --fix

feat: 优化时间格式化显示
  packages/frontend/utils/time.ts
Due: eslint --fix

feat: 优化条件状态 hook
  packages/frontend/components/login/index.tsx
  packages/frontend/utils/router.ts
  packages/frontend/utils/store.ts
Due: eslint --fix

feat: 主题 context 封装
  packages/frontend/components/brief-card/index.tsx
  packages/frontend/components/header/index.tsx
  packages/frontend/components/lang/index.tsx
  packages/frontend/components/login/index.tsx
  packages/frontend/components/side-drawer/index.tsx
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/index.tsx
  packages/frontend/pages/project/access.tsx
  packages/frontend/pages/project/component.tsx
  packages/frontend/pages/project/error.tsx
  packages/frontend/pages/project/index.tsx
  packages/frontend/pages/project/message.tsx
  packages/frontend/pages/project/resource.tsx
  packages/frontend/utils/locale.ts
  packages/frontend/utils/store.ts
  packages/frontend/utils/theme.ts
Due: eslint --fix

chore: 升级依赖
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/frontend/utils/alert.ts
  packages/lite-monitor-base/package.json
  packages/lite-monitor-node/package.json
  packages/lite-monitor-web/package.json
  packages/node-express-demo/package.json
  packages/node-koa-demo/package.json
  packages/web-react-demo/package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

feat: 优化警告提示
  packages/frontend/components/alert-bar/index.tsx
  packages/frontend/components/login/index.tsx
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/project/index.tsx
  packages/frontend/utils/alert.ts
Due: eslint --fix

feat: 复制采用剪贴板接口
  packages/frontend/pages/project/index.tsx
  packages/frontend/utils/clipboard.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  sort-package-json: any of: package.json
